let mapleader = " "

set NERDTree
set argtextobj
set commentary
set easymotion
set hlsearch
set ideajoin
set ignorecase smartcase
set incsearch
set matchit
set multiple-cursors
set surround

map 0 ^

" A fix for `gq` that needs this plugin to work:
" https://plugins.jetbrains.com/plugin/7234-wrap-to-column
nmap gqq :action com.andrewbrookins.idea.wrap.WrapAction<CR>
vmap gq :action com.andrewbrookins.idea.wrap.WrapAction<CR>

" The action to open links in browsers is, interestingly, also `GotoDeclaration`,
" which is mapped to `gd`. In Vim, delegating opening paths to the operating system
" is done with `gx`, so we map this to `GotoDeclaration` too.
nmap gx :action GotoDeclaration<CR>

" <Ctrl-u> and <Ctrl-d> also center the screen
nnoremap <silent> <C-u> <C-u>zz
nnoremap <silent> <C-d> <C-d>zz

nnoremap <S-h> :bp<CR>
nnoremap <S-l> :bn<CR>
nnoremap <A-1> :b 1<CR>
nnoremap <A-2> :b 2<CR>
nnoremap <A-3> :b 3<CR>
nnoremap <A-4> :b 4<CR>
nnoremap <A-5> :b 5<CR>
nnoremap <A-6> :b 6<CR>
nnoremap <A-7> :b 7<CR>
nnoremap <A-8> :b 8<CR>
nnoremap <A-9> :b 9<CR>

nmap <A-j> :action MoveLineDown<CR>
nmap <A-k> :action MoveLineUp<CR>
vmap <A-j> :action MoveLineDown<CR>
vmap <A-k> :action MoveLineUp<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <leader>w :w!<CR>
nnoremap <leader>wq :wq!<CR>
nnoremap <leader>q :q!<CR>
nnoremap <leader>l :nohlsearch<CR>
nnoremap <leader>e :action Synchronize<CR>
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>F :action FindInPath<CR>
nnoremap <leader>p :action ReformatCode<CR>
nnoremap <leader>j :action GotoNextError<CR>
nnoremap <leader>k :action GotoPreviousError<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>g :action ActivateCommitToolWindow<CR>
