[user]
  name = Fausto Núñez Alberro
  email = fausto.nunez@mailbox.org
  editor = nvim
[push]
  default = current
  autoSetupRemote = true
[branch]
  autoSetupMerge = always
  autoSetupRebase = always
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.config/git/gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[oh-my-zsh]
  hide-status = 1
[commit]
  gpgsign = true
[include]
  # Device-specific configuration goes here
  # That way it does not need to be in the dotfiles repository
  # For example: signing keys
  path = ~/.local/gitconfig
[pull]
  ff = only
